body {
    background-color: #f7f7fa !important;
    color: #fff;
    font-family: robo, sans-serif;
}

/* Navbar */

.navbar {
    background-color: #073f5d !important;
}

a.navbar-brand {
    color: #fff;
    font-size: 40px;
    font-family: koliko-bold, sans-serif;
    letter-spacing: 6px;
    text-shadow: #063852;
}

a:hover.navbar-brand {
    color: #fff;
}

a.nav-link {
    color: #fff !important;
}

a:hover.nav-link {
    text-decoration: underline;
}

.navbar {
    border-bottom: 2px solid #f0622f;
}

.navbar .btn-success {
    background-color: #4c9db4 !important;
    border-color: #3d7c8f !important;
    font-family: robo, sans-serif;
    border-radius: 0 !important;
}

.navbar .btn-success:hover {
    background-color: #3d7c8f !important;
}

.navbar .btn-success:focus {
    box-shadow: none !important;
}


@media (max-width: 575px) {
    .map-container {
        height: 200px;
    }

    .all-rides-container {
        height: auto;
    }
}

@media (min-width: 576px) {
    .map-container {
        height: 600px;
    }

    .all-rides-container {
        height: 600px;
    }
}

#map {
    height: inherit;
}

.all-rides-container {
    /*height: 600px;*/
    background-color: #fff;
    font-family: roboto, sans-serif;
}

.all-rides-container {
    border: 0.5px solid #efeff1;
}

/* Rides List */

.rides-list-container {
    background-color: #fff;
}

.rides-list-container ul {
    list-style-type: none;
}

.rides-list-element-date-time {
    color: #7c7b7b;
    font-weight: bold;
    font-size: 0.8rem;
}

.rides-list-element-links {
    color: #7c7b7b;
}

.rides-list-container ul:last-child li:last-child hr:last-of-type {
    display: none;
}

/* Rides Map Markers */

.ride-marker-date-time {
    color: #7c7b7b;
    font-weight: bold;
    font-size: 0.8rem;
}

.ride-marker-links {
    color: #7c7b7b;
}
