body {
    background-color: #073f5d !important;
    color: #fff;
}

a.navbar-brand {
    color: #fff;
    font-size: 40px;
    font-family: koliko-bold,sans-serif;
    letter-spacing: 6px;
}

a:hover.navbar-brand {
    color: #fff;
}

a.nav-link {
    color: #fff !important;
}

a:hover.nav-link {
    text-decoration: underline;
}

.navbar {
    border-bottom: 2px solid #f0622f;
}

#map, .all-rides-container {
    height: 600px;
}

.rides-list-container ul{
    list-style-type: none;
}
