body {
    background-color: #f7f7fa !important;
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0px;
}

/* Navbar */

.navbar {
    background-color: #073f5d !important;
}

a.navbar-brand {
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-shadow: #063852;
}

a:hover.navbar-brand {
    color: #fff;
}

a.nav-link {
    color: #fff !important;
}

a:hover.nav-link {
    text-decoration: underline;
}

.navbar {
    border-bottom: 2px solid #f0622f;
}

@media (max-width: 575px) {
    .map-container {
        height: 300px;
    }

    .all-rides-container {
        height: auto;
    }

    .navbar {
        position: sticky !important;
        top: 0 !important;
        z-index: 1020 !important;
    }
}

@media (min-width: 576px) {
    .map-container {
        height: 600px;
    }

    .all-rides-container {
        height: 600px;
    }
}

#map {
    height: inherit;
}

.all-rides-container {
    background-color: #fff;
}

.all-rides-container {
    border: 0.5px solid #efeff1;
}

/* Rides List */

.rides-list-container {
    background-color: #fff;
}

.rides-list-container .ride-name {
    font-size:1.25rem;
}

.rides-list-container ul {
    list-style-type: none;
}

.rides-list-element-date-time {
    color: #7c7b7b;
    font-weight: bold;
    font-size: 0.8rem;
}

.rides-list-element-city {
    color: #7c7b7b;
    font-weight: bold;
    font-size: 0.8rem;
}

.rides-list-element-links {
    color: #7c7b7b;
}

.rides-list-container ul:last-child li:last-child hr:last-of-type {
    display: none;
}

.rides-list-container .rides-list-element-show-on-map {
    background-color: #fff;
    border: 1px solid #4c9db4;
    color: inherit !important;
    font-size: 0.8rem !important;
}

.rides-list-container .rides-list-element-show-on-map:hover {
    background-color: #4c9db4;
    border: 1px solid #4c9db4;
    color: #fff !important;
}

.rides-list-container .rides-list-element-show-on-map:focus {
    background-color: #4c9db4;
    border: 1px solid #4c9db4;
    color: #fff !important;
}

.btn:focus {
    box-shadow: none !important;
}


/* Rides Map Markers */

.map-container .ride-name {
    font-size:1.25rem;
}

.ride-marker-date-time {
    color: #7c7b7b;
    font-weight: bold;
    font-size: 0.8rem;
}

/* Ride Icons List */

.ride-urls-icons-list li a {
    color: #000 !important;
    font-size: 1.2rem;
}

/* Add Ride Modal */

.btn {
    border-radius: 0 !important;
}

.add-ride-button {
    background-color: #4c9db4 !important;
    border-color: #3d7c8f !important;
    border-radius: 0 !important;
}

.add-ride-button:hover {
    background-color: #3d7c8f !important;
}

.add-ride-button:focus {
    box-shadow: none !important;
}

/* Footer */
#footer h2 {
    font-weight: bold;
    margin-bottom: 1.5rem !important;
    text-transform: uppercase !important;
    font-size: 1rem;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

#footer .add-ride-badge {
    cursor: pointer;
    background-color: #4c9db4 !important;
    border-radius: 0 !important;
}

#footer .add-ride-badge:hover {
    cursor: pointer;
    background-color: #3d7c8f !important;
}

/* Cookies */
.cookie-consent {
    background-color: #f7f7fa !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center
}

.allow-button {
    color: #fff;
    border: 1px solid #2e6544;
    background-color: #3E885B
}